*{border: 0;
	margin: 0;
	padding: 0;
}

body{background: #ccddcc;
}

#contenedor{ 
	height: 1050px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
}
header, #banner{ 
	background:#FFFFFF;
	width: 1050px;
	height: 100px;
}

#banner h1{
	color: #FFFFFF;background-color:#CCAACC ;
	height: 100px;font-family: 'Trebuchet MS';font-weight: 200;
	font: monospace; font-size: 60px;padding: 0;margin: 0;
	text-align: center;bottom: 0;
}

#my{
	background-color:#CCBBCC   ;
	text-align: center;
}
.barra a{font-family:'Yu Gothic Light';

}
a{text-decoration:none;
	color:white;
}

.Menu2{
	background-color:#CCCCCC ; 
	display: inline-block; 
	vertical-align: top; width:8%;
} 

.Menu2 ul li a { font-family:'Yu Gothic Light';
				text-align: center;

}


li{list-style:none;
}












#header{
	background-color: yellow ;padding: 0;margin: 0;
}







.imagenes{display: inline-block;color:white;vertical-align:top;
 } 
.imagen1{display: inline-block;color:white;vertical-align:top;
 } 
.imagen2{display: inline-block;color:white;vertical-align:top;
 } 

	
                                                     

#top {
	background-color:#CCBBCC;
	display:inline-table; 
}
#top p {
	background-color: #959595;
	vertical-align: text-top;
}